@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #8f8f8f;
  color: #080101;
}

body.contact {
  background: #a6ca6c;
  color: #fff;
}

body.disco {
  background-color: #222222;
  color: #FFFFFF;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*********************  Header *******************/
#preloader {
  background-image: url(../images/bts-background.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

#header-text {
  display: flex;
  align-items: center;
  height: 100vh;
  font-size: 30px;
  color: #CABD6C;
  padding: 20px;
}

.header-text h1 {
  font-size: 60px;
}

.header-text h1 span {
  color: #a6ca6c;
}

/******************** Hamburger menu *****************/
header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #232323;
}

li {
  list-style: none;
}

a {
  color: #CABD6C;
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: large;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  margin: 8px 0 8px 0;
  width: 100px;
  height: 80px;
}

.nav-links{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: #f2f2f2;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:1030px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 95px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
    background-color: #232323;
  }

}


/*****about bts***************/

.leftleft {
  width: 50%;
  float: left;
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 20px;
}

.rightright {
  width: 50%;
  float: right;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 20px;
  background-color: #CABD6C;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
}

.rightright:hover {
  background: #458f8975;
  transform: translateY(-10px);

}

h1.aboutus {
  padding-top: 5px;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #CABD6C;
}

/******************  Slideshow (Carousel) ****************/

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.qanda {
  margin-top: 20px;
}

/**************************************** Footer *****************************************************/
.slpce {
  width: 100%;
  background: #262626;
  text-align: center;
  color: #fff;
}

.copyright {
  width: 100%;
  background: #262626;
  text-align: center;
  color: #fff;
}

#footer-main {
  width: 100%;
  background: #262626;
  text-align: center;
  color: #fff;
}


/**************************************** Contact *****************************************************/
.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 55%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  margin-right: 15px;
  color: black;
  font-size: 20px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #ffdede8e;
  padding: 15px;
  margin: 15px 0;
  color: #000000;
  font-size: 18px;
  border-radius: 10px;
}

.permission {
  list-style-type: none;
  padding-left: 0;
}

.permission li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.permission li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #00cc00;
}

.checkbox-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-button.checked {
  background-color: #45a049;
}

/******************** Gallery ***************************/
.name {
  font-size: 50px;
  color: #717171;
  font-family: sans-serif;
  margin-top: 20vh;
  margin-left: 8vh;
}

.gallery_main {

  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 5vh;
  border: 1px solid #636363;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.349);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px 0px 15px 0px;
  text-align: center;
  text-decoration: none;
  color: turquoise;
}

a.link {
  text-decoration: underline;
  color: turquoise;
}

th,
td {
  border: 1px solid black;
  border-radius: 10px;
}

table.disc {
  margin-top: 10vh;
  width: 80%;
  margin-left: 10vh;
  margin-bottom: 20vh;
}

p.tab {
  color: aquamarine;
  margin-left: 12vh;
}

/******************************** Member Cards ************************************/

#members {
  padding: 30px 0;
}

.member-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 5px;
  padding: 20px;
}

.member-card div {
  background: #CABD6C;
  padding: 40px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.member-card div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.member-card div h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.member-card div p {
  font-size: 15px;
  margin-bottom: 10px;
}

.member-card div:hover {
  background: #458f8975;
  transform: translateY(-10px);
}

h2.members {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #CABD6C;
  padding: 20px;
}

.mem-cent {
  text-align: center;
  display: flex;
  flex-direction: column;
}


p.RM span {
  color: white;
  background-color: #F28DA6;
}

p.Jimin span {
  color: white;
  background-color: #E48CFF;
}

p.V span {
  color: white;
  background-color: #F7BEC5;
}

p.Jungkook span {
  color: white;
  background-color: #916FED;
}


/********************* Accordion-pre-members *********************/

.accordion-members {
  background-color: #8f8f8f;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}


.active,
.accordion:hover {
  background-color: rgba(0, 0, 0, 0.473);
}

.panel {
  padding: 0 18px;
  background-color: #8f8f8f;
  display: none;
  overflow: hidden;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

/* zobraziť celý obsah za navbar */

.height9 {
  height: 9vh;
}

.height15 {
  height: 15vh;
}

#about_us{
  height: 12vh;
}

/*********************** FAQs **************************/

section {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  width: 100%;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active {
  background: #8f8f8f;
}

.faq.active .answer {
  max-height: 300px;
}

.faq.active svg {
  transform: rotate(180deg);
}

.button-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.button-group form,
.button-group button {
  margin-right: 10px;
}

.delete-button,
.update-button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ccc; /
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.delete-button:hover,
.update-button:hover {
  background-color: #f1f1f1;
}

/******************** Register and Login ********************/

.form-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.form-container form{
  text-align: center;
  width: 500px;
  background: #fff;
  border: 2px solid #000;
  padding: 20px;
}

.form-container form h3{
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.form-container form .box{
  width: 100%;
  padding: 12px 15px;
  font-size: 20px;
  background: #fff;
  border: 2px solid #000;
  margin: 10px 0;
  border-radius: 0;
}

.form-container form .form-btn{
  display: block;
  margin: 10px 0;
  background: #000;
  color: #fff;
  padding: 10px 35px;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
}

.form-container form .form-btn:hover{
  background: crimson;
}

.form-container form p{
  font-size: 20px;
  padding-top: 10px;
}

.form-container form p a{
  color: crimson;
}

/*************** Update FaQ ****************/


.update-container {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 80px;
}

.update-container form {
  text-align: center;
  width: 500px;
  padding: 20px;
  border: 1px solid;
  background: #BA8B02;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Ubuntu", sans-serif;
}

.update-container form h2{
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
}

.update-container form label{
  font-size: 30px;
  margin-bottom: 10px;
}

.update-container form textarea{
  font-family: "Ubuntu", sans-serif;
  resize: none;
}

.update-container button{
  width: 15vh;
  height: 3vh;
}


